{% extends "core_app/layout.html" %}
{% block content %}
{% load staticfiles%}

<div class="card-header">
    <i class="fa fa-table"></i>  <b>Please identify which columns have the following information</b></div>
  <div class="card-body">

    {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
      <form action = "" method = "post">
          {% csrf_token %}
            {{ form.management_form }}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.non_form_errors }}
         <fieldset>
            <legend>Account Details Form</legend>
              <div class="row">
                <div class="col-sm-6">
               {{ form.name.label }}
               {{ form.name }}
                </div>

                <div class="col-sm-6">
                {{ form.rows.label }}
                {{ form.rows }}
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-3">
               {{ form.credit.label }}
               {{ form.credit }}
                  </div>
                  <div class="col-sm-3">
               {{ form.debit.label }}
               {{ form.debit }}
                  </div>
                  <div class="col-sm-3">
               {{ form.date.label }}
               {{ form.date }}
                  </div>
                  <div class="col-sm-3">
               {{ form.description.label }}
               {{ form.description }}
                  </div>

              </div>
             <div class="row buffer">
                <div class="col-md-12 text-center"> <button class="btn btn-default" type="submit">Submit</button></div>
             </div>


         </fieldset>
      </form>

      <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                {% for item in headers%}
                <th rowspan="1" colspan="1">Column {{ item }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>

          </tbody>
          {% for item in df %}
            <tr role="row" class="odd">
                {% for i in item %}
                <td class="sorting_1">{{ i }}</td>
                {% endfor %}
            </tr>
          {% endfor %}
      </table>
      </div>
  </div>
{% endblock %}