{% extends "core_app/layout.html" %}
{% load staticfiles %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card mx-auto mt-6">
      <div class="card-header">Edit Bank Account</div>
      <div class="card-body">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <tr><td>Name</td><td>{{ form.account_name|add_class:'form-control form-control-sm' }}</td></tr>
            </table>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}