<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EverGreen Financial</title>

    {% load static %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    <!--google analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55147341-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!--Markdown cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.7/marked.min.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="{% static 'core_app/custom.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--custom-->
    <script type="text/javascript" src="{% static 'core_app/csrf.js' %}"></script>

</head>
<body>
<div class="container-fluid" >
    <div id="content">
        <nav class="navbar navbar-expand-sm bg-light rounded" id="navfluid">

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new_account">New Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tags">tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main_page">main_page</a>
            </li>
          </ul>

        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
<footer>

</footer>
</html>