
{% extends "core_app/layout.html" %}
{% block content %}
{% load staticfiles%}
<script src="{% static 'core_app/my_charts.js' %}"></script>

<p> logged in!</p>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="chart_container">
                        <canvas id="balanceChart"></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

    {% csrf_token %}
    {{ yearForm.as_p }}
    <div id="month_form">{% csrf_token %}{{ monthForm.as_p }}</div>


{% endblock %}

</div>