
{% extends "core_app/layout.html" %}
{% block content %}
{% load staticfiles%}
<script src="{% static 'core_app/my_charts.js' %}"></script>

<div class="card">
    <div class="card-body">
        <!--balance chart-->
        <h3>Overall Income and Spending for <b class="session_title">{{ year_title }}</b></h3>
        <div class="chart_container">
        <canvas id="balanceChart"></canvas>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-sm-6">
                <!--spending cats-->
                <h4>Spending Categories <b class="session_title">{{ year_title }}</b></h4>
                <div class="chart_container">
                <canvas id="categoryChart"></canvas>

                </div>
            </div>
            <div class="col-sm-6">
                <!--income cats-->
                <h4>Income Categories <b class="session_title">{{ year_title }}</b></h4>
                <div class="chart_container">
                <canvas id="incomeChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <!--spending tags-->
                <div class="chart_container" id="tagContainer">
                    <h4>Spending Tags</h4>
                    <div class="chart_container">
                        <canvas id="tagChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--income tags-->
                <div class="chart_container" id="income_tag_container">
                <h4>Income Categories</h4>
                <div class="chart_container">
                <canvas id="incomeTags"></canvas>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}








