
{% extends "core_app/layout.html" %}
{% block content %}
{% load staticfiles%}
<script src="{% static 'core_app/my_charts.js' %}"></script>

<div class="row">

 <div class="col-sm-2">
            <div class="sidenav">
                {% csrf_token %}
                {{ yearForm.as_p }}
                <div id="month_form">{% csrf_token %}{{ monthForm.as_p }}</div>
               {% csrf_token %}
                {{ catForm.as_p }}
                {% csrf_token %}
                {{ incomeCatForm.as_p }}
            </div>
 </div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <!--balance chart-->
                <h3>Overall Income and Spending for <b class="session_title">{{ year_title }}</b></h3>
                <div class="chart_container">
                <canvas id="balanceChart" width="400" height="125"></canvas>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-6">
                        <!--spending cats-->
                        <h4>Spending Categories <b class="session_title">{{ year_title }}</b></h4>
                        <div class="chart_container">
                        <canvas id="categoryChart"></canvas>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!--income cats-->
                        <h4>Income Categories <b class="session_title">{{ year_title }}</b></h4>
                        <div class="chart_container">
                        <canvas id="incomeChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!--spending tags-->
                        <div class="chart_container" id="tagContainer">
                            <h4>Spending Tags</h4>
                            <div class="chart_container">
                                <canvas id="tagChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!--income tags-->
                        <div class="chart_container" id="income_tag_container">
                        <h4>Income Categories</h4>
                        <div class="chart_container">
                        <canvas id="incomeTags"></canvas>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for key, value in comparison_list.items %}
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">For the Category of <b>{{ value.category }}</b> and with the Tag <b>{{ value.tag }}</b></h5>

                    {% if value.value.last_month.debit %}
                    <p>Last month you spent {{ value.value.last_month.debit }} on {{ value.tag }}</p>
                    {% endif %}
                    {% if value.value.last_month.credit %}
                    <p>Your {{ value.tag }} earnings last month was {{ value.value.last_month.credit }}</p>
                    {% endif %}

                    {% if value.value.last_year_month.debit %}
                    <p>In the same month last year you spent {{ value.value.last_year_month.debit }} on  {{ value.tag }}</p>
                    {% endif %}
                    {% if value.value.last_year_month.credit %}
                    <p>In the same month last year, you earned {{ value.value.last_year_month.credit }}</p>
                    {% endif %}

                    {% if value.value.ytd.debit %}
                    <p>This year to date you have spent {{ value.value.ytd.debit }} on {{ value.tag }}</p>
                    {% endif %}
                    {% if value.value.ytd.credit %}
                    <p> This year to date you have earned {{ value.value.ytd.credit }} on {{ value.tag }}</p>
                    {% endif %}

                    {% if value.value.last_ytd.debit %}
                    <p>Last year at this time you had spent {{ value.value.last_ytd.debit }} on {{ value.tag }}</p>
                    {% endif %}
                    {% if value.value.last_ytd.credit %}
                    <p>Last year you earned {{ value.value.last_ytd.credit }} on {{ value.tag }}</p>
                    {% endif %}


                </div>
            </div>
            </div>
            {% endfor %}
        </div>
</div>
</div>
{% endblock %}








