
{% extends "core_app/layout.html" %}
{% block content %}
<p> logged in!</p>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                    <canvas id="incomeChart" width="300" height="300"></canvas>
        <script>

        var ctx = document.getElementById("incomeChart");
        balanceChart = new Chart.Line(ctx, {
      data:{
      labels: {{ labels }},
      datasets: [

          {
              label: "Debits",
              backgroundColor: "rgba(153,255,51,0.6)",
              data: {{ debit }}
          },
          {
              label: "Credits",
              backgroundColor: "rgba(255,153,0,0.6)",
              data: {{ credit }}
          },
          {
              label: "Balance",
              backgroundColor: "rgba(0,153,255,0.8)",
              data: {{ balance }}
          }
        ]
        }
        });
        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

    {% csrf_token %}
    {{ yearForm.as_p }}

{% endblock %}