{% extends "core_app/layout.html" %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Select a file</div>
      <div class="card-body">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form action="/new_account/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="form-control" name="file">
            <p>Please select a file that the new account will be started with.  In the next step, you will be asked
            to "calibrate" the account.  Don't worry.  This only needs to happen once!  We suggest that you make sure that
            the account has a unique name but that is up to you.</p>
            <button class="btn btn-default" type="submit">Upload</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}