{% extends "core_app/layout.html" %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form method="post">
            {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">

                <label for="id_email">Email address:</label>
                <input type="email" class="form-control form-control-sm" name="email" maxlength="254" required="" id="id_email">
            </div>
        <div class="text-center">
            <input type="submit" value="Reset my password" class="btn btn-default mt-3">
        </div>
        </fieldset>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="login.html">Login Page</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
