{% extends "core_app/layout.html" %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Change Password</div>
      <div class="card-body">
        <div class="text-center mt-auto mb-5">
          <h4>Need to change your password?</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <fieldset class="module aligned wide">
            <div class="form-row">
                <label for="id_old_password">Old password:</label> <input type="password" class="form-control form-control-sm" name="old_password" autofocus="" required="" id="id_old_password">
            </div>
            <div class="form-row">
                <label for="id_new_password1">New password:</label> <input type="password" class="form-control form-control-sm" name="new_password1" required="" id="id_new_password1">
                <div class="help"><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul></div>
            </div>
            <div class="form-row">
                <label for="id_new_password2">Confirm Password:</label> <input type="password" class="form-control form-control-sm" name="new_password2" required="" id="id_new_password2">
            </div>
            </fieldset>
            <div class="submit-row text-center">
                <input type="submit" value="Change my password" class="btn btn-default mt-3" >
            </div>

            </div>
            </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="login.html">Login Page</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
