{% extends "core_app/layout.html" %}
{% block content %}
{% load staticfiles%}

<div class="container">
    <h2>Details</h2>
    <p>Here are the results you requested.  Click the button beside the row to edit the values</p>
    <div class="card-header">
          <i class="fa fa-table"></i> Tag List</div>
    <div class="card-body">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr><th rowspan="1" colspan="1">Category</th><th rowspan="1" colspan="1">Tag</th><th rowspan="1" colspan="1">Get More Information</th>
                    <th rowspan="1" colspan="1">Set Budget</th><th rowspan="1" colspan="1">Fixed Cost</th><th rowspan="1" colspan="1">Edit Tag</th><th rowspan="1" colspan="1">Delete Tag</th></tr>
              </thead>
              <tfoot>
                <tr><th rowspan="1" colspan="1">Category</th><th rowspan="1" colspan="1">Tag</th><th rowspan="1" colspan="1">Get More Information</th>
                    <th rowspan="1" colspan="1">Set Budget</th><th rowspan="1" colspan="1">Fixed Cost</th><th rowspan="1" colspan="1">Edit Tag</th><th rowspan="1" colspan="1">Delete Tag</th></tr>
              </tfoot>
              <tbody>
          {% for row in results %}
              <tr role="row" class="odd">
                  <td class="sorting_1">{{ row.0 }}</td>
                  <td>{{ row.1 }}</td>
                  <td>{{ row.2 }}</td>
                  <td>{{ row.4 }}</td>
                  <td>{{ row.5 }}</td>
                  <td><a href="/tag-detail/{{ row.3 }}/" class="btn btn-info" role="button">Edit</a></td>
                  <td><a href="/tag-delete/{{ row.3 }}/" class="btn btn-info" role="button">Delete</a></td>
                </tr>
          {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

</div>


        <!-- Page level plugin JavaScript-->
    <script src="{% static 'core_app/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'core_app/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'core_app/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'core_app/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'core_app/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'core_app/js/sb-admin-charts.min.js' %}"></script>

{% endblock %}