{% extends "core_app/layout.html" %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card mx-auto mt-6">
      <div class="card-header">Edit Tag and Category Values</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tr><td>Category</td><td>{{ form.category|add_class:'form-control form-control-sm' }}</td></tr>
          <tr><td>Tag</td><td>{{ form.tag|add_class:'form-control form-control-sm'  }}</td></tr>
          <tr><td>Get further information</td><td>{{ form.drill_down|add_class:'form-control form-control-sm' }}</td></tr>
           <tr><td>Set as a fixed Cost</td><td>{{ form.fixed_cost|add_class:'form-control form-control-sm' }}</td></tr>
          <tr><td>Set Monthly Budget for Tag (in whole dollars)</td><td>{{ form.budget|add_class:'form-control form-control-sm' }}</td></tr>
            </table>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}