{% extends "core_app/layout.html" %}
{% block content %}

<body class="bg-dark">
  <div class="container">
    <div class="card mx-auto mt-6">
      <div class="card-header">Edit Rule Values</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <tr><td>Look at begining</td><td>{{ form.begins_with|add_class:'form-control form-control-sm' }}</td></tr>
          <tr><td>Look at end</td><td>{{ form.ends_with|add_class:'form-control form-control-sm' }}</td></tr>
          <tr><td>Category</td><td>{{ form.category|add_class:'form-control form-control-sm' }}</td></tr>
          <tr><td>Tag</td><td>{{ form.tag|add_class:'form-control form-control-sm'  }}</td></tr>
          <tr><td>Descprition</td><td>{{ form.description|add_class:'form-control form-control-sm' }}</td></tr>
            </table>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}