.sidenav{
    color: #868e96;
    padding-left: 20px;
    padding-right: 20px;
    }

.greeting{color: #fff;}

h6{padding-top: 20px;}

.buffer {
    margin-top:20px;
    margin-bottom:20px;
    }

#dataTable {
    counter-reset: rowNumber;
}

#dataTable tbody tr {
    counter-increment: rowNumber;
}

#dataTable tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

#main-message{
    color: blue;
}

.card-margin-top{
    margin-top: 10px;
}